<div class="card text-white bg-dark mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body">
        <h5 class="card-title">Listado de Clientes</h5>
        <table class="table table-bordered text-white">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    <th>EMAIL</th>
                    <th>FECHA</th>
                    <th>EDITAR</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td>{{cliente.id}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.createAt}}</td>
                    <td>
                        <button 
                        type="button" 
                        [routerLink]="[ '/clientes/form', cliente.id ]"
                        class="btn btn-primary">editar</button>
                    </td>
                    <td>
                        <button 
                        type="button" 
                        [routerLink]="[ '/clientes']"
                        class="btn btn-danger"
                        (click)="delete(cliente)">eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">
                Crear
            </button>
        </div>
    </div>
</div>
